body {
    background-image: url("./images/Background.jpg");
}

.container {
    background-color: lightgrey;
    border: 20px;
    margin-top: 10vw;
    padding: 10px;
}

.header {
    color: teal;
    margin-bottom: 30px;
}

.img-fluid {
    padding: 10px;
}

#title {
    margin-bottom: 40px;
}

.project-title {
    text-decoration: underline;
    margin: 20px;
}

ol {
    list-style-type: none;
    padding: 0;
}

.card {
    margin: 20px;
}

.home {
    max-width: 80%!important;
}

.portfolio {
    max-width: 60%!important;
    margin-top: 5vw!important;
}

.card-text {
    padding: 5px;
}

p {
    font-family: Trebuchet MS, sans-serif;
}

.big {
    font-size: large;
}

.contact {
    margin: 9px;
}

.skills {
    margin-top: 20px!important;
    max-width: 80%!important;
}

.seeWork {
    margin-bottom: 10px!important;
}

.img-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

@media only screen and (max-width: 769px) { 
    .container {
        width: 90%!important;
        max-width: 90%!important;
    }

    .col-1 {
        box-sizing:unset;
        max-width: 16.66666666%;
        flex: unset;
    }

    p {
        font-size: medium!important;
    }
}

@media only screen and (max-width: 375px) { 
    .nav-link {
        font-size: small;
    }
}